<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241948802661-etf4auehg5q8bbg567p7vij33aiavdns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241948802661-etf4auehg5q8bbg567p7vij33aiavdns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241948802661-9g9n61dgulurrufnpcmpmc39q1ffpitm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-bf7JMMZwE02NBEgwiHvVpC_M6uKcaE</string>
	<key>GCM_SENDER_ID</key>
	<string>241948802661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>carebare.group4.com</string>
	<key>PROJECT_ID</key>
	<string>carebearvtmp2025</string>
	<key>STORAGE_BUCKET</key>
	<string>carebearvtmp2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241948802661:ios:46c24a3a627ab0c07e508c</string>
</dict>
</plist>